
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: large;
    overflow: hidden;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: rgba(248, 173, 44, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
  }

  .logo_img {
    width: 65px;
    height: auto;
  }

  .nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
  }

  .nav-links li {
    font-weight: bold;
    cursor: pointer;
  }
  li{
    list-style-type: none;
  }
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-links li a:hover, 
.nav-links li a.active {
    color: #333;
}


  .side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100px;
    height: calc(100vh - 60px);
    background: rgb(250, 231, 206);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
  }
  .sidebar-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
  }

  .main-body {
    position: relative;
    /* top: 60px;
    left: 100px; */
    margin-top: 60px;
    margin-left: 100px;
    width: calc(100vw - 100px);
    height: calc(100vh - 60px);
    background: rgba(255, 255, 255, 0.881);
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
